<h2>Supervisory Formula Input Parameters</h2>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="row">
    <div class="col-sm-1">
      <label for="">K</label>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <input type="number" class="form-control" id="sf_K" placeholder="as %" name="sf_K" ngModel>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <label for="">L</label>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <input type="number" class="form-control" id="sf_L" placeholder="as %" name="sf_L" ngModel>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <label for="">Detach</label>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <input type="number" class="form-control" id="sf_detach" placeholder="as %" name="sf_detach" ngModel>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <label for="">N</label>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <input type="number" class="form-control" id="sf_N" placeholder="" name="sf_N" ngModel>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <label for="">LGD</label>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <input type="number" class="form-control" id="sf_lgd" placeholder="as %" name="sf_lgd" ngModel>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Calculate</button>
        <button type="button" class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
      <h2>Risk Weight: {{capReq | percent: '1.2-5'}}</h2>
      <div class="form-group">
        <button type="button" class="btn btn-primary" type="button" (click)="onSave()">Save</button>
      </div>
    </div>
  </div>
  <hr/>
</form>
