// :host /deep/ {
//     .handsontable {
//         tr:first-child th, tr:first-child td {
// 	    	border-top: 1px solid rgba(255, 255, 255, 0.3) !important;
// 	    }

// 	    th:first-child, th:nth-child(2), td:first-of-type, .htNoFrame + th, .htNoFrame + td {
// 		    border-top: 1px solid rgba(255, 255, 255, 0.3) !important;
// 		}

// 		td, th {
// 		    border-right: 1px solid rgba(255, 255, 255, 0.3) !important;
// 		    border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
// 		    background-color: transparent !important;
// 		    color: #fff;
// 		}
//     }
// }
:host /deep/ {
  .handsontable {
    tr:first-child th, tr:first-child td {
      border-top: 1px solid rgba(255, 0, 0, 0.6) !important;
      background: #cccccc;
    }

    th:first-child, th:nth-child(2), td:first-of-type, .htNoFrame + th, .htNoFrame + td {
      border-top: 0px solid rgba(0, 0, 0, 0.6) !important;
    }

    th {
      border-right: 1px solid rgba(0, 0, 0, 0.6) !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.6) !important;
      background-color: #cccccc !important;
      color: #00005F;
    }

		td {
		    border-right: 1px solid rgba(0, 0, 0, 0.6) !important;
		    border-bottom: 1px solid rgba(0, 0, 0, 0.6) !important;
		    background-color: transparent !important;
		    color: #00005F;
		}
  }
}
