<kendo-grid [data]="gridData" [height]="500">
  <kendo-grid-column field="their" title="Their name" width="100">
  </kendo-grid-column>
  <kendo-grid-column field="ours" title="Our name" width="100">
  </kendo-grid-column>
  <kendo-grid-column field="theirFormat" title="Their format" width="100">
  </kendo-grid-column>
  <kendo-grid-column field="ourFormat" title="Our format" width="100">
  </kendo-grid-column>
  <kendo-grid-column field="conversions" title="Conversions" width="100">
  </kendo-grid-column>
</kendo-grid>
